<%= form_for(@foodplanner) do |f| %>
  <% if @foodplanner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foodplanner.errors.count, "error") %> prohibited this foodplanner from being saved:</h2>

      <ul>
      <% @foodplanner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :breakfast %><br>
    <%= f.text_area :breakfast %>
  </div>
  <div class="field">
    <%= f.label :lunch %><br>
    <%= f.text_area :lunch %>
  </div>
  <div class="field">
    <%= f.label :dinner %><br>
    <%= f.text_area :dinner %>
  </div>
  <div class="field">
    <%= f.label :snacks %><br>
    <%= f.text_area :snacks %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :shoppinglist %><br>
    <%= f.text_field :shoppinglist %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
